
#topnavbox{
    width:100%;
    height:36px;
    background-color: #f5f5f5;
    position:relative;
}
#topnavbox .topnav{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:1190px;
    height:36px;
    background-color: #f5f5f5;
}
#topnavbox li{
    line-height: 36px;
    list-style-type: none;
    float:left;
    padding-left: 6px;
    padding-right: 8px;
}
#topnavbox ul li:nth-of-type(1)>span{
    width:60px;
    color: #f22e00;
    background-image: none;
}
#topnavbox li>span{
    background-image: url('images/bottomline.png');
    background-position: 100% 43%;
    background-repeat: no-repeat;
    display: block;
}
#topnavbox ul li:nth-of-type(5){
    background-image: url('images/shopbox.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
}
#topnavbox ul li:nth-of-type(5)>span{
    padding-left: 18px;
}
#topnavbox ul li:nth-of-type(6)>span{
    padding-left: 18px;
}
#topnavbox ul li:nth-of-type(6){
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
}
#topnavbox ul li:nth-of-type(6):hover{
    background-image: url('images/star_on.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
}
#topnavbox ul li:nth-of-type(7)>span{
    padding-right: 5px;
    height:39px;
    background-position: 55px 43%;
    background-image: none;
    position: relative;
    top: -12px;
}
#topnavbox ul li:nth-of-type(10)>span{
    padding-left: 10px;
}
#topnavbox ul li:nth-of-type(10){
    background-image: url('images/threeline.png');
    background-repeat: no-repeat;
    background-position-y:50%;
}
#topnavbox ul li:nth-of-type(2)>span{
    background-image: none;
}
#topnavbox ul li:nth-of-type(3)>span{
    background-image: none;
}
#topnavbox ul :nth-of-type(3){
    padding-left:20px;
    padding-right: 410px;
}
#topnavbox ul :nth-of-type(4){
    padding: 0px;
    width:64px;
    margin-right:15px; 
}

#topnavbox ul :nth-of-type(5){
    padding: 0px;
    width:69px;
    margin-right:14px; 
    background-repeat: no-repeat;
}
#topnavbox ul :nth-of-type(6){
    padding: 0px;
    width:69px;
    margin-right:14px; 
}
#topnavbox ul :nth-of-type(7){
    padding: 0px;
    width:69px;
    margin-right:14px; 
    height: 12px;
    border-right: 1px solid #e4dde4;
    margin-top: 12px
}
#topnavbox ul :nth-of-type(8){
    padding: 0px;
    width:64px;
    margin-right:14px; 
}
#topnavbox ul :nth-of-type(9){
    padding: 0px;
    width:64px;
    margin-right:14px; 
}

#topnavbox ul :nth-of-type(10){
    padding: 0px;
    width:76px;
}
#topnavbox li:hover>span{
    color: #f40;
}