html,body{
    height:100%;
    position: relative;
}
body{
    background: #eee;
    font-family:  Helvetica Neue , helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #000;
}
.swiper-container{
    width:100%;
    height:100%;
}
.swiper-slide{
    font-size: 18px;
    text-align: center;
    background: #fff;
}
/*.swiper-wraper*/


/*向三上箭头*/
.uo-arrow{
    position: absolute;
    left:0;
    right: 0;
    margin: 0 auot;
    bottom: 40px;
    width: 75px;
    z-index: 11;
    opacity: 0.8;
}

.uo-arrow img{
    width:100%;
    animation:  upArrow 1.5s infinite ease-in-out;
}

/*音乐播放*/
/*旋转*/
@-webkit-keyframes music{
    to{
        transform: rotate(360deg);
    }
}

.btn-music-on{
    position: absolute;
    background: url('../images/musicBtn.png') 50% 50% no-repeat;
    padding: 50px;
    z-index: 9999;
    top:0;
    right: 0;
    animation: music 5s infinite linear;
}
.btn-music-off{
    background: url('../musicBtnOff.png') 50% 50% no-repeat;    
}

/*page1的样式*/
.index-txt,
.index-txt img:nth-child(2),
.index-txt img:nth-child(3),
.index-flight,
.index-element,
.index-cloud,
.index-stars,
.index-building{
    position: absolute;
}
.index-txt, .index-flight{
    text-align: center;
    z-index: 9;
}
.index-txt{
    width: 100%;
    height:250px;
    margin: 15% 0 10%;
    top:0;
    left:0;
    right: 0;
}
.index-txt img:nth-child(2){
    left:65px;
}
.index-txt img:nth-child(3){
    top:130px;
    left:150px;
}
.index-flight{
    top:43%;
    left:0;
    right: 0;
}
.index-element{
    top:120px;
    left:0;
    right: 0;
    z-index: 3;
}
.index-flight img,
.index-element img{
    animation: zoom 3s infinite linear;
}
.index-element img{
    animation-delay: 3s;
}

.index-cloud{
    top: 100px;
    left:0;
    right: 0;
    z-index: 2;
}
.index-cloud img{
    animation: zoom 2s infinite linear;
    animation-delay: 2s;
}
.index-stars{
    z-index: 0;
}
.index-stars img{
    animation: zoom 3s infinite linear;
    animation-delay: 0.5S;
}
.index-building{
    bottom: 0;
}

/*第二页*/
.swiper-slide:nth-child(2){
    background: #000;
}
.ws-bg{
    position: absolute;
    width:100%;
    height:100%;
    background:  url('../images/wasBg.jpg') 50% 100% no-repeat;
}
.ws-line{
    width:100%;
    height:100%;
    background:  url('../images/wasStar.png') 50% 50% no-repeat;
    z-index: 2;
}
.xy-c{
    position:absolute;
    top: 35%;
    left:20%;
}
.was-txt{
    position: relative;
    z-index: 3;
}
.was-it{
    margin-bottom: 50px;
}
.was-farm{
    left:10px；
}

/*第三页*/
.swiper-slide:nth-child(3){
    z-index: 10;
    background-color: #01172C;
}

.early-bg{
    position: absolute;
    top:0;
    left:0;
}
.title{
    position: absolute;
    top:5%;
    left:5%;
}
.b-build{
    position: absolute;
    bottom: 0;
    left: 0;
}
.block-page{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.abs{
    position: absolute;
}
.last-bus{
    position: absolute;
    left:-20px;
    bottom: 5%;
}
.bus-avatar{
    right: 0;
    bottom: 5%;
}
.where-bg{
    bottom: 0;
    left: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
.where-bg img{
    width:100%;
    height: 100%;
}
.where-wall{
    bottom: 0;
    right: 0;
    height: 60%;
}
.where-txt{
    width:100%;
    bottom:12%;
    text-align: center;
}
.where-myteam{
    left:15%;
    top:30%;
}
.where-avatar{
    z-index: 3;
    right: 5%;
    bottom: 51%;
}
.wall-avatar{
    position: relative;

    width:100%;
    height:100%;
}