html,body{
    padding: 0px;
    margin: 0px;
}

.father{
   
    background: blue
}

.father::after{
    content: "";
    display: block;
    clear: 
}
.son{
    width:20px;
    height: 20px;
    background: yellow;
    float: left;
}
.bug{
    height: 30px;
    background: red;
}